.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.control {
  @media (max-width: 576px) {
    width: 100%;
  }
} 